{% extends "govuk/template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "moj/components/header/macro.njk" import mojHeader -%}

{% block head %}
  <link href="/stylesheets/styles.css" rel="stylesheet">
{% endblock %}

{% block header %}
  {{ mojHeader({
    organisationLabel: {
      text: 'HMPPS',
      href: '/'
    },
    serviceLabel: {
      text: 'Digital Prison Services',
      href: '/'
    }
  }) }}
{% endblock %}

{% block beforeContent %}
  {% if backLinkUrl %}
    {{ govukBackLink({
      text: "Back",
      href: backLinkUrl
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Default page template</h1>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/assets/govuk/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}