{% extends "govuk/template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block head %}
  <link href="/stylesheets/styles.css" rel="stylesheet">
{% endblock %}

{% block beforeContent %}
  {% if backLinkUrl %}
    {{ govukBackLink({
      text: "Back",
      href: backLinkUrl
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Default page template</h1>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/assets/govuk/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}