{% extends "../partials/layout.njk" %}

{% set title = "Login page has moved" %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  <p>The HMPPS login page has moved.</p>

  <p style="color:red;font-weight:bold;">Last chance to update the browser bookmark that brought you here!</>

  <p>The redirect that brought you here will be disabled very soon and will no longer be available.</p>

  <p style="font-weight:bold;">Please update any bookmarks you have for the old login page now.</p>

  <p>The new address of the HMPPS login page is: {{ oauthUrl }}</p>
{% endblock %}
