{% extends "../partials/layout.njk" %}

{% set title = "Book a secure move" %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  <p>This service allows you to schedule secure movement for prisoners in custody, via approved transport suppliers, between locations across England and Wales.</p>

  <p>If you have any problems with this service, contact the helpdesk by calling 0800 917 5148, or #6598 from inside a prison.</p>
 
  <p>If you want to provide feedback on the service, contact <a href="mailto:bookasecuremove@digital.justice.gov.uk">bookasecuremove@digital.justice.gov.uk</a>.</p>
{% endblock %}