{% extends "../partials/layout.njk" %}

{% set title = "Calculate release dates" %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  <p>This service allows prison staff working in offender management units to accurately calculate release dates for people serving prison sentences.</p>

  <p>Contact <a href="mailto:calculatereleasedates@digital.justice.gov.uk">calculatereleasedates@digital.justice.gov.uk</a>.</p>
{% endblock %}