{% extends "../partials/layout.njk" %}

{% set title = "Calculate Release Dates" %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  <p>This service allows operational prison staff to calculate accurate release dates for currently serving prisoners.</p>

  <p>Contact <a href="mailto:calculatereleasedates@digital.justice.gov.uk">calculatereleasedates@digital.justice.gov.uk</a>.</p>
{% endblock %}