{% extends "../partials/layout.njk" %}

{% set title = "Digital Categorisation Service" %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  <p>This service allows you to manage the categorisation process of prisoners.</p>

  <p>Contact <a href="mailto:DigitalCategorisationGeneralEnquiries@justice.gov.uk">DigitalCategorisationGeneralEnquiries@justice.gov.uk</a>.</p>
{% endblock %}