{% extends "../partials/layout.njk" %}

{% set title = "Digital Categorisation Service" %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  <p><b>Technical issues and support questions should be raised via the Service Desk on 0800 917 5148</b></p>
  <p class="govuk-!-padding-top-3">Technical issues are unintended problems with the service, such as:
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
      <li>incorrect or missing data</li>
      <li>error messages; for example: “502”, “503”,  or "Something went wrong on ..."</li>
      <li>slow page loading</li>
      <li>misalignment of items on the screen</li>
    </ul>
  </p>
  <p>Avoid raising a technical and support issue if you do not need a response.</p>
  <p class="govuk-!-padding-top-3">When calling the Service desk you will need to give:
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
      <li>your location</li>
      <li>team and role</li>
      <li>username</li>
    </ul>
  </p>
  <p><b>Policy and process-related queries should be sent to </b></p>
  <p><a href="mailto:DigitalCategorisation.GeneralEnquiries@justice.gov.uk">DigitalCategorisation.GeneralEnquiries@justice.gov.uk</a></p>
{% endblock %}