{% extends "../partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">Check my diary</h1>

  <p>This service allows operational prison staff to view their shift and detail from a device not on the quantum network.</p>

  <p>Contact <a href="mailto:checkmydiary@digital.justice.gov.uk">checkmydiary@digital.justice.gov.uk</a>.</p>
{% endblock %}