{% extends "../partials/layout.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set title = "Home Detention Curfew and licences" %}

{% set summaryHtml %}
  <p>If you need to make a change to your own role, or that of someone else, to access different parts of this service, you should contact <a href="mailto:hdcdigitalservice@digital.justice.gov.uk">hdcdigitalservice@digital.justice.gov.uk.</p>

  <p>For all other problems, you should contact the helpdesk by calling 020 3788 4636, or #6598 from inside a prison.</p>
{% endset %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  <p>This service creates and approves Home Detention Curfews and licences for prisoners.</p>

  {{ govukDetails({
    summaryText: "How can I change what I can see and do in this service?",
    html: summaryHtml
  }) }}
{% endblock %}