{% extends "../partials/layout.njk" %}

{% set title = "Pathfinder Service" %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  <p>Contact <a href="mailto:product-support-team@digital.justice.gov.uk">product-support-team@digital.justice.gov.uk</a>.</p>
{% endblock %}