{% extends "../partials/layout.njk" %}

{% set title = "Pathfinder Service" %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>
  <p>Use this service to manage your Pathfinder caseloads.</p>
  <p><a href="{{ pathfinderUrl + 'useful-links/support' }}">You can find support in the Pathfinder service.</a></p>
{% endblock %}
