{% extends "../partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">Pathfinder Service</h1>

  <p>Contact <a href="mailto:product-support-team@digital.justice.gov.uk">product-support-team@digital.justice.gov.uk</a>.</p>
{% endblock %}