{% extends "../partials/layout.njk" %}

{% set title = "Prepare a case for sentence" %}

{% block content %}
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p> Prepare a case for sentence is a new digital service for probation practitioners and administrators in magistrates’ courts.</p>
    <p>The service provides an overview of all defendants attending court on a given day including their probation status, probation record and risk information.</p>
    <p>
        Email: 
        <a href="mailto:prepareacaseforsentence@digital.justice.gov.uk">
            prepareacaseforsentence@digital.justice.gov.uk
        </a>
    </p>
{% endblock %}
