{% extends "../partials/layout.njk" %}

{% set title = "View POM cases" %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  
  <p>For help with this service, contact service desk on 0800 917 5148.</p>
{% endblock %}
