{% extends "../partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">Allocate a POM</h1>
  
  <p>This service allocates Prisoner Offender Managers.</p>

  <p>Contact us <a href="#">Using the online form</a></p>
{% endblock %}