{% extends "../partials/layout.njk" %}

{% set title = "Manage Prison Offender Managers’ cases" %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  
  <p>This service allocates Prisoner Offender Managers.</p>

  <p>Contact us <a href="{{ allocationManagerUrl + 'help' }}">Using the online form</a></p>
{% endblock %}