{% extends "../partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">Safety Diagnostic Tool</h1>

  <p>This tool provides an overview of violence and self-harm within a prison using daily extracts and analysis from NOMIS data.</p>

  <p>Contact <a href="mailto:anvil@justice.gov.uk">anvil@justice.gov.uk</a>.</p>
{% endblock %}