{% extends "../partials/layout.njk" %}

{% set title = "Safety Diagnostic Tool" %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  <p>This tool provides an overview of violence and self-harm within a prison using daily extracts and analysis from NOMIS data.</p>

  <p>Contact <a href="mailto:anvil@justice.gov.uk">anvil@justice.gov.uk</a>.</p>
{% endblock %}