{% extends "../partials/layout.njk" %}

{% set title = "Videolink booking" %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  <p>This service is for someone working in a court and booking a video link hearing with a prison.</p>

  <p>Contact <a href="mailto:feedback@digital.justice.gov.uk">feedback@digital.justice.gov.uk</a> if you have any problems with this service.</p>
{% endblock %}