{% extends "../partials/layout.njk" %}

{% set title = "Workload measurement tool" %}

{% block content %}
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p>The workload measurement tool is used to monitor the capacity of probation practitioners, teams and divisions across the Probation Service. </p>
    <p> If you are having a problem with the service, Microsoft Teams: <a href="https://teams.microsoft.com/l/team/19%3afPYHTv_Z06KQ-wPz3oc2kLLhVKDypOtLeyXOpoXM85w1%40thread.tacv2/conversations?groupId=0f8c1490-bf11-4ba6-a889-6438b082c3f8&tenantId=c6874728-71e6-41fe-a9e1-2e8c36776ad8">
            Manage Workforce
        </a></p>
{% endblock %}
