{% extends "../partials/layout.njk" %}

{% set title = "Workload measurement tool" %}

{% block content %}
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p>The workload measurement tool is used to monitor the capacity of probation practitioners, teams and divisions across the Probation Service. </p>
    <p> If you are having a problem with the service, email: 
        <a href="mailto:manageaworkforce@justice.gov.uk">
            manageaworkforce@justice.gov.uk
        </a></p>
{% endblock %}
